.dialog_mask{
  position:absolute;
  top:0px;
  left:0px;
  background-color:#666;
  filter: alpha(opacity=20);opacity:0.2;
}

.dialog_alphaborder{
  position:absolute;
  top:0px;
  left:0px;
  background-color:#555;
  filter: alpha(opacity=30);opacity:0.3;
}

.dialog {
	position:absolute;
	background: #FFF;
	border: 1px solid #ccc;
	float:left;
}

.dialog .dialog_bar {
	background: url(/budget/common/images/dialog/bar_bg.png) repeat-x left center;
	font-size:13px;
	display:block;
	font-weight:bold;
	color:#FFF;
	text-align: left;
	text-indent:10px;
	height:23px;
	line-height:23px;
	overflow: hidden;
	padding-left: 20px;
}
.dialog .dialog_closeIcon {
  display:block;
  float:right;
	margin-top:6px;
	margin-right:10px;
	cursor:pointer;
	background: url(/budget/common/images/dialog/close.gif);
	width:10px;
	height:10px;
	overflow: hidden;
}

.dialog .dialog_pane{
  margin:0;
  padding:0;
  font-size: 12px;
  color: #333;
}

.dialog .dialog_content{
  padding:10px;
}

.dialog .dialog_content div.formbtns{
  text-align:center;
}
.dialog .dialog_content div.formbtns button{
  
}

#waitMessage{
  position:absolute;
  border:1px solid #ccc;
  pading:10px;
  width:200px;
  height:40px;
  background:#000;
}
